/* ........basic tailwind css--------- */
@import "tailwindcss";

@utility container {
  margin-inline: auto;
}

@custom-variant dark (&:where(.dark, .dark *));

/* -----------variables------- */

@theme {
  /* ---Fonts */
  --font-popppins: "Poppins", sans-serif;

  /* ---Colors */
  --color-primary: #111827;
  --color-vibrant-blu: #0ea5e9;
  --color-gray-bg: #f8f8f8;
  --color-primary: #111827;
  --color-secoundary: #4b5563;
  --color-darkSecoundart: #c3c6ca;
  --text-whitetext: #f8fafc;
  --color-border: #e5e7eb;
}


